:root{
    --couleur1: #d3b82c;
    --couleur2: #EBCE34;
    --couleur3: #d39e2c;
    --couleur4: #EBC182;
    --couleur5: rgba(255, 255, 255, 0.05);
    --couleur6: #EBA134;
    --couleur7: #EB8334;
    --couleur8: #EB6334;
}

html, body{
    margin : 0;
}

*{
    box-sizing: border-box;
}

.global {
    max-width: 1100px;
    margin: 0 auto;
    background-color: var(--background-global);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

// HEADER
@include regle_couleur_back(".entete", $couleur6);

// INDEX
@include regle_couleur_back(".principal", $couleur7);

// FOOTER
@include regle_couleur_back(".pied", $couleur8);

.pied {
    .global {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.pied div {
    display: inline;
}