:root{
    --border-article: #d3b82c;
    --background-article: #EBCE34;

    --border-article-hover: #d39e2c;
    --background-article-hover: #EBC182;

    --background-global: rgba(255, 255, 255, 0.05);

    --background-entete: #EBA134;

    --background-principal: #EB8334;

    --background-pied: #EB6334;
}