$couleur1: --couleur1;
$couleur2: --couleur2;
$couleur3: --couleur3;
$couleur4: --couleur4;
$couleur5: --couleur5;
$couleur6: --couleur6;
$couleur7: --couleur7;
$couleur8: --couleur8;


@mixin regle_couleur($selecteur, $couleur){
    #{$selecteur}{
        color : var(#{$couleur});
    }
}

@mixin regle_couleur_border($selecteur, $couleur) {
    #{$selecteur} {
        border: 1px solid var(#{$couleur});
    }
}

@mixin regle_couleur_back($selecteur, $couleur) {
    #{$selecteur} {
        background-color : var(#{$couleur});
    }
}

@mixin regle_couleur_avant_arriere($selecteur, $avant, $arriere) {
    #{$selecteur} {
        color : var(#{$avant});
        background-color : var(#{$arriere});
    }
}

// @mixin linear-gradient($selecteur ,$direction, $couleurstart, $couleurend){
//     #{$selecteur}{
//         background-color: linear-gradient(#{$direction}, #{$couleurstart}, #{$couleurend});
//     }
// }