// ARTICLE
.principal__conteneur{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.principal__article{
    border: 1px solid var(--border-article);
    max-width: 320px;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--background-article);
    box-shadow: 3px 5px 5px #d3b82c;
    transition-duration: 500ms;
}

.principal__article:hover{
    border: 1px solid var(--border-article-hover);
    background-color: var(--background-article-hover);
    box-shadow: 5px 5px 5px #d39e2c;
}